.App {
  text-align: center;
  background: linear-gradient(45deg, #f06, #9f6);
}

.App-header {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: blue !important;
  color: white;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.icon-list-wrapper {
  margin-right: 20px;
}

.title {
  font-size: 3rem;
  background: linear-gradient(black 0%, rgba(0, 0, 0, 0) 100%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 0;
}
