.App {
  text-align: center;
}

.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: blue !important;
  color: white;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.icon-list-wrapper {
  margin-right: 20px;
}
